<div class="col-4 d-flex flex-column">
    <div class="card mb-4">
        <img src="/<%=quiz.image%>" class="card-img-top" alt="<%=quiz.image%>">
        <div class="card-body">
            <h5 class="card-title"><%=quiz.title%></h5>
            <p class="card-text"><%=quiz.description%></p>
            <h6 class="card-subtitle mb-2 text-muted">par <%=quiz.author.getFullName()%></h6>
            <a href="/quiz/<%=quiz.id%>" class="btn btn-primary">Jouer</a>
        </div>
    </div>
</div>