<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4"><%=quiz.title%></h2>
    <p class="lead"><%=quiz.description%></p>
    <p class="font-weight-bold"> par <img class="img-avatar" src="/<%=quiz.author.lastname.toLowerCase()%>.png"> <%=quiz.author.getFullName()%></p>
    <p class="lead"><%=quiz.questions.length%> questions</p>
</div>

<div class="row">
    <% quiz.tags.forEach(tag => { %>
    <div class="col-3 p-4 text-center">
        <a class="btn btn-block btn-lg tag tag--<%=tag.getLabel()%>" href="/tag/<%=tag.id%>">
            <%=tag.name%>
        </a>
    </div>
    <% }) %>
</div>

<div class="row">
<% quiz.questions.forEach((question, index) => { %>
    <div class="col-12">
    <label class="badge level level--<%=question.level.getLabel()%>"><%=question.level.name%></label>
    <h4>
        <%=index + 1%>. <%=question.question%>
    </h4>
    <ol>
        <% question.possible_answers.forEach(answer => { %>
        <li><%=answer.description%></li>
        <% }) %>
    </ol>    
    </div>
<% }) %>
<p class="alert-font text-center">Connectez-vous pour jouer !</p>
<div class="col-6 offset-3 text-center">
    <a href="/login" class="btn btn-primary">Se connecter</a>
    <a href="/signup" class="btn btn-primary">Créer un compte</a>
</div>
</div>

<%- include('partials/footer') %> 
