<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="h1 display-4">Modifier le quiz : <br><%=quiz.title%></h2>
    <a class="btn btn-sm btn-secondary" href="/quiz/<%=quiz.id%>">Voir le quiz</a>
</div>

<div class="row">
    <div class="col-6 offset-3">
        <form action="/admin/quiz/<%= quiz.id %>" method="post" class="form-signup">
            <%- include('partials/error') %> 
            <% tags.forEach(tag => { %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input
                                type="checkbox"
                                name="<%= tag.name %>"
                                id="<%= tag.name %>"
                                <% if (quiz.tags.find(quizTag => quizTag.id === tag.id)) { %>
                                    checked
                                <% } %>
                            >
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" value="<%= tag.name %>">
                </div>
            <% }) %>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %> 